# ScPLC Opta firmware

# Arduino / PlatformIO / build outputs
build/
.pio/
.arduino/

# Tooling
.vscode/
.idea/
.vs/
*.code-workspace

# Compiled artifacts
*.o
*.a
*.d
*.elf
*.bin
*.hex
*.map
*.lst

# OS / editor junk
.DS_Store
Thumbs.db
desktop.ini
*.swp
*~